# -FrontPage-

AuthUserFile /home/gcatania/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/gcatania/public_html/_vti_pvt/service.grp

<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName ceciliaegabriele.heliohost.org
IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

RewriteBase /
RewriteRule ^robots\.txt$ - [L]
RewriteRule ^googledb7562a44ddc3a19\.html$ - [L]


RewriteRule ^media/(.*) django_admin_media/$1 [PT]
RewriteRule ^(img|layout|js)/(.*)\.(.*)$ wedsite_static/$1/$2.$3
RewriteRule ^(wedsite_static|django_admin_media)(/.+/.*\..*)$ - [L]

RewriteRule ^maintenance/$ wedsite_static/maintenance.html [L]
RewriteRule ^wedsite_static/maintenance.html$ - [L]

#enable next line when under maintenance mode
#RewriteRule ^(.*)$ maintenance/ [R,NC,L]

RewriteRule ^(dispatch_debug\.wsgi/.*)$ - [L]
RewriteRule ^(dispatch\.wsgi/.*)$ - [L]

#enable next line and comment out dispatch.wsgi lines for wsgi debug
#RewriteRule ^(.*)$ dispatch_debug.wsgi/$1 [QSA,PT,L]

RewriteRule ^(.*)$ dispatch.wsgi/$1 [QSA,PT]
